# 1: Preguntar

En el presente análisis se busca identificar la diferencia entre los socios anuales y los ciclistas casuales.

El equipo de análisis de datos de marketing esta conformado por...

Gerente, Lily Moreno, El equipo de análisis de datos de marketing, Equipo Ejecutivo de Cyclistc.

Un programa de bicicletas compartidas que incluye 5,800 bicicletas y 600 estaciones. Cyclistic se destaca por ofrecer también bicicletas reclinadas, triciclos manuales y bicicletas de carga que ofrecen un uso más inclusivo de las bicicletas compartidas para las personas con discapacidad y los ciclistas que no pueden utilizar una bicicleta estándar de dos ruedas. La mayoría de los ciclistas eligen las bicicletas tradicionales, alrededor de un 8% de los ciclistas usan las opciones asistidas. Los usuarios de Cyclistic son más propensos a utilizar la bicicleta para recreación, pero alrededor del 30% la utiliza para ir al trabajo cada día.

En 2016, Cyclistic lanzó una exitosa oferta de bicicletas compartidas. Desde entonces, el programa creció hasta alcanzar una flota de 5,824 bicicletas georreferenciadas y bloqueadas en una red de 692 estaciones en toda Chicago. Las bicicletas se pueden desbloquear desde una estación y devolverse en cualquier otra estación del sistema en cualquier momento.

#Tarea Empresarial: Pregunta o Problema que el análisis de datos responde para la empresa.
¿ En qué se diferencian los socios anuales y los ciclistas ocasionales con respecto al uso de las bicicletas de Cyclistic?

# 2: Preparar

Los datos fuero extraidos de:
[Cycling](https://divvy-tripdata.s3.amazonaws.com/index.html)

Los datos están organizados por mes en un archivo zip, dentro del archivo encontramos 13 columnas con los siguientes nombres:
* ride_id	
* rideable_type	
* started_at
*	ended_at
*	start_station_name
*	start_station_id
*	end_station_name
*	end_station_id
*	start_lat	start_lng
*	end_lat	end_lng	member_casual

Los datos son proporcionados por la misma empresa para la que se trabaja por lo que son de primera fuente, esto nos da un grado de confianza, dado  que no podemos corroborar la métodología o control de calidad de los datos, no se tomará encuenta la recopilación o alteración fuera de estos datos. Veremos la integridad en cuanto a duplicidad de datos.
Los datos son originales, actuales, citados.
Pero no son exahutivos o fiables.

`ROCCC`

`Reliability`, `Originality`, `Comprehensiveness`, `Current`, `Cited`

In [1]:
from google.colab import drive    #Montamos la unidad de Drive a este notebook para acceder a los archivos
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
ruta="/content/gdrive/MyDrive/Portafolio_Drive_Analisis_Google"#Ruta de Carpetas con Archivos ZIPel canciller es popular en redes sociales, también su hija, conocida como Francesca Stafford.

In [3]:
import os 
from zipfile import ZipFile

In [4]:
a1,b1=os.listdir(ruta+"/zip"),len(os.listdir(ruta+"/zip"))#Listamos archivos a descomprimir
for a in a1:
  with ZipFile(ruta+"/zip/"+a, 'r') as zip:
      zip.extractall(ruta+"/unzip/")        #Extraccion de archivos Zip descargados
      print('File is unzipped ',a1.index(a)+1 ,' to ',b1)

File is unzipped  1  to  14
File is unzipped  2  to  14
File is unzipped  3  to  14
File is unzipped  4  to  14
File is unzipped  5  to  14
File is unzipped  6  to  14
File is unzipped  7  to  14
File is unzipped  8  to  14
File is unzipped  9  to  14
File is unzipped  10  to  14
File is unzipped  11  to  14
File is unzipped  12  to  14
File is unzipped  13  to  14
File is unzipped  14  to  14

In [5]:
os.chdir('/content/gdrive/MyDrive/Portafolio_Drive_Analisis_Google/unzip')#entrar a Ruta de datos descomprimidos
name_csv=[]           #os.getcwd()#Indica ruta actual
[name_csv.append(i) for i in os.listdir() if i.endswith('.csv')]#Nombre de todos los archivos descomprimidos .csv
name_csv.sort()#Ordena los nombres de los csv
name_csv

['202106-divvy-tripdata.csv',
 '202107-divvy-tripdata.csv',
 '202108-divvy-tripdata.csv',
 '202109-divvy-tripdata.csv',
 '202110-divvy-tripdata.csv',
 '202111-divvy-tripdata.csv',
 '202112-divvy-tripdata.csv',
 '202201-divvy-tripdata.csv',
 '202202-divvy-tripdata.csv',
 '202203-divvy-tripdata.csv',
 '202204-divvy-tripdata.csv',
 '202205-divvy-tripdata.csv',
 '202206-divvy-tripdata.csv',
 '202207-divvy-tripdata.csv',
 'byke_clean.csv',
 'byke_clean1.csv']

In [6]:
import pandas as pd

In [7]:
df1=[]#Cargamos los datasets en esta lista
for j in range(len(name_csv)-2):#El -2 es solo para cargar los datos de 1 año de junio de 2021 a mayo de 2022
  df1.append(pd.read_csv(ruta+"/unzip/"+name_csv[j]))
  print(j,name_csv[j])#12 meses

0 202106-divvy-tripdata.csv
1 202107-divvy-tripdata.csv
2 202108-divvy-tripdata.csv
3 202109-divvy-tripdata.csv
4 202110-divvy-tripdata.csv
5 202111-divvy-tripdata.csv
6 202112-divvy-tripdata.csv
7 202201-divvy-tripdata.csv
8 202202-divvy-tripdata.csv
9 202203-divvy-tripdata.csv
10 202204-divvy-tripdata.csv
11 202205-divvy-tripdata.csv
12 202206-divvy-tripdata.csv
13 202207-divvy-tripdata.csv

# 3:Procesar

Para este punto deberíamos tomar la decision de que herramientas utilizar, pero como venimos trabajando con python por su fácil manejo y su gran robustez, seguiremos haciendolo para hacer la limpieza de datos pertinetne.
Aquí veremos la integridad de los datos, es decir, decidiremos que hacer con los datos faltantes, con lo erroneos, Al final revisaremos si los datos estan listos para usarse.

In [8]:
name=[]#Comparamos si todos tienen las mismas columnas para poder concatenar
for i in range(len(df1)):
  name.append(df1[i].columns.values)

In [9]:
pd.DataFrame(name).head(2)#Deben coincidir en nombre todos las filas

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual

In [10]:
temp=df1[0]#Concatenamos los dataframes uno horizonal, en la variable ds
for i in range(len(df1)-1):
  ds=pd.concat([temp,df1[i+1]],axis=0,ignore_index=True)
  temp=ds
  print(i+1)
ds.shape# Para ver el No de filas y columnas

1
2
3
4
5
6
7
8
9
10
11
12
13

(7453468, 13)

#Limpieza de Datos
###Exploraremos una lista sobre limpieza de datos, empezaremos verificando lo siguiente:

* 1  : Repetibilidad en los datos. Existen Datos Repetidos.
* 2  : Inexistencia de datos. Hay datos faltantes, ¿Cómo se tratan?
* 3  : Error en los datos. Hay datos que no sean coherentes con los demás 
* 4  : Errores de formato. ‘Espacios en blanco’ error en tipos de datos como char e int, formato de fechas, 
* 5  :Verificar formato de fechas
* 6  :Verificar N/a
* 7  :Verificar espacios en blanco
* 8  :Verificar puntos decimal
* 9  :Verificar texto en formato número
* 10 :Verificar misma shape
* 11 :Verificar ortografía
* 12 :Verificar duplicados
* 13 :Verificar rango de datos
* 14 :Verificar números no estén en formato porcentaje o otro
* 15 :Verificar conversiones pesos dólares etc
* 16 :Verificar nombres no sean iguales en duplicados ej: mexico=mex=méxico
* 17 :Verificar en fechas horario de verano, invierno.

###Limpiando Primer Columna: `ride_id`

In [11]:
ds.head(1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99FEC93BA843FB20,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.8,-87.59,41.8,-87.6,member

In [12]:
len(ds.ride_id.unique())==ds.ride_id.shape[0]#Verificar duplicados#True es que no hay duplicados en ride_id

True

In [13]:
f=lambda x: len(x)
a=ds.ride_id.apply(f)#Verificando congruencia en tamano de formato ride_id
min(a),max(a)

(16, 16)

In [14]:
ds[ds.ride_id.isna()]#Verificamos si existen Na
ds[ds.ride_id.isnull()]#Verificamos si existen Null
ds.ride_id.isin(['99FEC93BA843FB20'])#Verificar alguna palabra #99FEC93BA843FB20 primer id

0           True
1          False
2          False
3          False
4          False
           ...
7453463    False
7453464    False
7453465    False
7453466    False
7453467    False
Name: ride_id, Length: 7453468, dtype: bool

In [15]:
f1=lambda x: "ñ" in x#Verificar si existe una "ñ en la serie"
ds.ride_id.apply(f1)#Verificamos caracteres extraños como: ñ . ! " # $ % & / ( ) = ? ¡ ¿ * ¨ [ ] _ : ;

0          False
1          False
2          False
3          False
4          False
           ...
7453463    False
7453464    False
7453465    False
7453466    False
7453467    False
Name: ride_id, Length: 7453468, dtype: bool

##Creare una copia del dataset para poder limpiar los datos y dejar el original intacto.
#Eliminamos primera columna que considero no aporta información

In [16]:
df=ds.iloc[:,1:].copy(deep=True)
df.head(1)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.8,-87.59,41.8,-87.6,member

###Limpiando Primer Columna: `rideable_type`

In [17]:
df.head(1)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.8,-87.59,41.8,-87.6,member

In [18]:
df.rideable_type.unique()#Solo existen 3 categorias y aparecen solo 3 de ellas por lo que es congruente con el rango
#No hace falta buscar Na o Null o errores ortograficos por categorias porque apareceria, pero
#Lo haremos de igual forma para hacer un uso constante de funciones muy utiles.

array(['electric_bike', 'classic_bike', 'docked_bike'], dtype=object)

In [19]:
df[df.rideable_type.isnull()]#Buscamos datos nullos
df[df.rideable_type.isna()]#Buscamos datos na
sum(df.rideable_type.isin(['classic_bike']))#Para sabe cuantos usan classic bike como ejemplo

3997570

In [20]:
df.head(1)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.8,-87.59,41.8,-87.6,member

In [21]:
df.groupby('rideable_type').count()#Confirmar lo de arriba agrupando por datos iguales en esa columna
#Cuanta todos los ride_id agrupados por rideable_type
#Es como si crearas 3 tablas#Cada una con los datos de la clase correspondienre 'classic_bike' 'docked_bike' 'electric_bike'

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
rideable_type,,,,,,,,,,,
classic_bike,3997570,3997570,3997570,3997570,3988341,3988341,3997570,3997570,3992306,3992306,3997570
docked_bike,336142,336142,336142,336142,334368,334368,336142,336142,334368,334368,336142
electric_bike,3119756,3119756,2091614,2091617,2031318,2031318,3119756,3119756,3119756,3119756,3119756

In [22]:
ds.groupby('rideable_type').ride_id.count()

rideable_type
classic_bike     3997570
docked_bike       336142
electric_bike    3119756
Name: ride_id, dtype: int64

In [23]:
f2=lambda x: 'ñ' in x#Verificar caracteres extraños como ñ . ' ! " # 
df[df.rideable_type.apply(f2)]

Empty DataFrame
Columns: [rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

###Limpiando Segunda Columna: `started_at`

In [24]:
df[df.started_at.isnull()]
df[df.started_at.isna()]

Empty DataFrame
Columns: [rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [25]:
#Aquí toma en cuenta el inicio del recorrido para agruparlos en las carpetas
df['started_at'].min(),df['started_at'].max()

('2021-06-01 00:00:38', '2022-07-31 23:59:58')

In [26]:
#Convieres a formato fecha para poder trabajar con operaciones
df['started_at']=pd.to_datetime(df.started_at)#cast str to Timestamp
df['ended_at']=pd.to_datetime(df.ended_at)

In [27]:
#Dividimos en fecha y hora
df['date']=pd.to_datetime([d.date() for d in df.started_at])#dividir en fecha y convertir a fecha
df['month']=[d.month for d in df.started_at]
df['hours']=[d.time() for d in df.started_at]#Dividir en horas 
df['hour']=[d.hour for d in df.started_at]#hora

In [28]:
#Vemos cuantos datos son inconsistentes en fechas, en este caso hay 139 datos que tienen un mal formato en la fecha
print(df[df.started_at>df.ended_at].date.value_counts().sum())
data1=df[df.started_at>df.ended_at].date.value_counts()
data1[:10]
#Al ver el recuento de fechas con error, nos damos cuenta que el 38% de errores ocurre el día 7 de noviembre del 2021
#Una busqueda rápida por internet nos muestra que el horario de verano Termina el día 7 de noviembre del 2021 "2021-11-07"
#Inicia el día 14 de marzo del 2021  2021-03-14#Por lo q probablemente se registe una hora más en los ciclistas
#Pero no esta en el rango análisado la fecha 2021-03-14
#el domingo 13 de marzo de 2022, a las 2:00 a.m. empieza el horario de verano nuevamente
#el domingo 6 de noviembre de 2022, inicia horario de invierno#No esta en rango análisado

167

2021-11-07    53
2021-09-29    22
2022-07-26    12
2022-06-07    10
2021-08-20     7
2021-09-01     4
2021-08-21     3
2021-08-16     3
2021-08-10     2
2021-09-26     2
Name: date, dtype: int64

In [29]:
df.loc[(df['date']=='2021-11-07')&(df['started_at']>df['ended_at'])].head(1)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
3753915,docked_bike,2021-11-07 01:40:02,2021-11-07 01:05:46,Halsted St & Dickens Ave,13192,Leavitt St & Division St,658,41.919936,-87.64883,41.902997,-87.683825,casual,2021-11-07,11,01:40:02,1

In [30]:
#Para corregir esta fecha restaremos 1 hora a started_at para la fecha '2021-11-07' y donde la
#hora de inicio sea mayor a la del final.
index1=df.loc[(df['date']=='2021-11-07')&(df['started_at']>df['ended_at'])].index

In [31]:
df.loc[index1,'started_at']=df.loc[index1].started_at-pd.to_timedelta(1, unit='h')

In [32]:
df.loc[index1].head(1)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
3753915,docked_bike,2021-11-07 00:40:02,2021-11-07 01:05:46,Halsted St & Dickens Ave,13192,Leavitt St & Division St,658,41.919936,-87.64883,41.902997,-87.683825,casual,2021-11-07,11,01:40:02,1

Dádo que cambiamos la fecha al restar 1 hora al horario, la columna de horas se vio afectada por lo que volveremos a generarlas, tambien generaremos las fechas por si la hora era cerca de media noche entonces cambiará el día.
Como no aumentamos ni meses, o años las demas columnas permanecen igual.
Generaremos

In [33]:
df.loc[index1,['date']] = pd.to_datetime([d.date() for d in df.loc[index1].started_at])
df.loc[index1,['hours']]= [d.time() for d in df.loc[index1].started_at]#Dividir en horas
df.loc[index1,['hour']]=[d.hour for d in df.loc[index1].started_at]#hora

In [34]:
#Aqui Empieza el horario de verano por lo que a las 2am se adelanta el reloj 1 hra. por lo que
#aquelos que empezaron antes de las 2 y terminaron despues de las 3, tienen agregado la hora de horario de verano
#Esto sesga los datos por lo que deben ser corregidos
index2=df.loc[(df['date']=='2022-03-13')&(df.started_at<='2022-03-13 02:00:00') & (df.ended_at>='2022-03-13 03:00:00')].index

In [35]:
df.loc[index2].head(1)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
4620811,classic_bike,2022-03-13 01:57:57,2022-03-13 03:05:34,Green St & Madison St,TA1307000120,LaSalle St & Washington St,13006,41.881892,-87.648789,41.882664,-87.63253,casual,2022-03-13,3,01:57:57,1

In [36]:
#Lo arreglaremos sumando 1hr a 'started_at'
#Abajo esta más sintetizado 
df.loc[index2,'started_at']=df.loc[(df['date']=='2022-03-13')&(df.started_at<='2022-03-13 02:00:00') & (df.ended_at>='2022-03-13 03:00:00'),['started_at']]+pd.to_timedelta(1, unit='h')

Dádo que cambiamos la fecha al restar 1 hora al horario, la columna de horas se vio afectada por lo que volveremos a generarlas, tambien generaremos las fechas por si la hora era cerca de media noche entonces cambiará el día.
Como no aumentamos ni meses, o años las demas columnas permanecen igual.
Generaremos

In [37]:
df.loc[index2,['date']] = pd.to_datetime([d.date() for d in df.loc[index2].started_at])
df.loc[index2,['hours']]= [d.time() for d in df.loc[index2].started_at]#Dividir en horas
df.loc[index2,['hour']]=[d.hour for d in df.loc[index2].started_at]#hora

In [38]:
#Ahora solo hay 86 datos con formato erroneo
print(df[df.started_at>df.ended_at].date.value_counts().sum())
data1=df[df.started_at>df.ended_at].date.value_counts()
data1[:10]

114

2021-09-29    22
2022-07-26    12
2022-06-07    10
2021-08-20     7
2021-09-01     4
2021-08-16     3
2021-08-21     3
2021-08-30     2
2021-08-11     2
2021-08-15     2
Name: date, dtype: int64

In [39]:
#borraremos los datos que arrojan una mayor fecha al inicio que al final
index3=df.loc[ (df.started_at>df.ended_at)].index#Dado que son 86 datos
#Representan el 0.0015 % de los datos totales

In [40]:
df.drop(index3,inplace=True)#inplace=True#Lo hace en el df original
df.shape

(7453354, 16)

In [41]:
df.index==range(df.shape[0])#La indexacion queda sin valores por los Numeros eliminados, debemos reindexar
#Arriba devuelve array bolleano si se cumple la condicion
all(df.index==range(df.shape[0]))#Devuelve True si todos son true#"Tambien existe any para al menos 1 True"

False

In [42]:
df.reset_index(inplace=True)#reseteando indexación

In [43]:
df.index==range(df.shape[0])#La indexacion queda sin valores por los Numeros eliminados, debemos reindexar
#Arriba devuelve array bolleano si se cumple la condicion
all(df.index==range(df.shape[0]))#Devuelve True si todos son true#"Tambien existe any para al menos 1 True"

True

Nos da una columna extra llamada index que representa le index en el dataset original

In [44]:
#df.drop(columns="index",inplace=True)#Así la podemos borrar pero puede ser de ayuda

###Limpiando Tercer Columna: `ended_at`

In [45]:
df.tail(1)#Al restaurar index se genero index de la columna antigua

,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
7453353,7453467,electric_bike,2022-07-29 13:05:20,2022-07-29 13:10:40,NaN,NaN,NaN,NaN,41.9,-87.66,41.9,-87.67,member,2022-07-29,7,13:05:20,13

In [46]:
any(df.ended_at.isnull())
any(df.ended_at.isna())

False

In [47]:
df.loc[(df.started_at>df.ended_at)]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

In [48]:
df['ended_at'].min(),df['ended_at'].max()

(Timestamp('2021-06-01 00:06:22'), Timestamp('2022-08-04 13:53:01'))

###Limpiando Cuarta Columna: `start_station_name`

In [49]:
df.loc[ (df.start_station_name.isnull()) & (~df.start_station_id.isnull())]

,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
1298841,1298858,electric_bike,2021-07-18 03:44:22,2021-07-18 04:12:23,NaN,13221,NaN,NaN,41.907655,-87.672552,41.950000,-87.74000,casual,2021-07-18,7,03:44:22,3
2424309,2424358,electric_bike,2021-09-21 18:18:59,2021-09-21 18:21:48,NaN,20215,Hegewisch Metra Station,20215,41.648500,-87.546089,41.648589,-87.54625,casual,2021-09-21,9,18:18:59,18
3031795,3031877,electric_bike,2021-09-22 07:14:42,2021-09-22 07:22:38,NaN,WL-008,NaN,NaN,41.867117,-87.641087,41.880000,-87.64000,casual,2021-09-22,9,07:14:42,7

In [50]:
df.loc[df.start_station_id=='13221'].start_station_name.unique()
df.loc[df.start_station_id=='20215'].start_station_name.unique()
df.loc[df.start_station_id=='WL-008'].start_station_name.unique()

array(['Clinton St & Roosevelt Rd', nan], dtype=object)

In [51]:
df.loc[ [1298841], 'start_station_name' ]='Wood St & Milwaukee Ave'
df.loc[ [2424309], 'start_station_name' ]='Hegewisch Metra Station'
df.loc[ [3031795], 'start_station_name' ]='Clinton St & Roosevelt Rd'

In [52]:
df.loc[ (df.start_station_name.isnull()) & (~df.start_station_id.isnull())]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

#Limpiando Quinta Columna: start_station_id

In [53]:
df.head(1)

,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
0,0,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.8,-87.59,41.8,-87.6,member,2021-06-13,6,14:31:28,14

In [54]:
#df.loc[ (df.start_station_id.isnull()) & (df.start_station_name.isnull())   ]

#Limpiando Sexta Columna: end_station_name

In [55]:
df.head(1)

,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
0,0,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.8,-87.59,41.8,-87.6,member,2021-06-13,6,14:31:28,14

In [56]:
df.loc[ (df.end_station_name.isnull()) & (~df.end_station_id.isnull())]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

#Limpiando Séptima Columna: end_station_id

In [57]:
df.head(1)

,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
0,0,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.8,-87.59,41.8,-87.6,member,2021-06-13,6,14:31:28,14

In [58]:
df.loc[ (~df.end_station_name.isnull()) & (df.end_station_id.isnull())]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

#Limpiadno Octava Columna: start_lat

In [59]:
df.head(1)

,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
0,0,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.8,-87.59,41.8,-87.6,member,2021-06-13,6,14:31:28,14

In [60]:
df.loc[ (df.start_lat.isnull())  ]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

In [61]:
all(df.start_lat.apply(lambda x:  x==float(x)   ))#Todos son numeros float

True

#Limpiadno Novena Columna: start_lng

In [62]:
df.loc[ (df.start_lng.isnull())  ]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

In [63]:
all(df.start_lng.apply(lambda x:  x==float(x)   ))#Todos son numeros float

True

#Limpiadno Decima Columna: end_lat

In [64]:
df.loc[ (df.end_lat.isnull()) & (~df.end_station_name.isnull()) ]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

In [65]:
df.loc[ (df.end_lat.isnull()) & (~df.end_station_id.isnull()) ]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

#Limpiando Onceaba Columna: end_lng

In [66]:
df.loc[ (df.end_lng.isnull()) & (~df.end_station_name.isnull()) ]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

In [67]:
df.loc[ (df.end_lng.isnull()) & (~df.end_station_id.isnull()) ]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

#Limpiando Doceaba Columna: memeber_casual

In [68]:
df.head(1)

,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
0,0,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.8,-87.59,41.8,-87.6,member,2021-06-13,6,14:31:28,14

In [69]:
df.loc[ ( df.member_casual.isnull() )   ]

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

In [70]:
df.member_casual.unique()

array(['member', 'casual'], dtype=object)

#Limpiando Treceaba Columna: date

In [71]:
df.head(1)

,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
0,0,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.8,-87.59,41.8,-87.6,member,2021-06-13,6,14:31:28,14

In [72]:
df[df.date.isnull()]#No hay nulos

Empty DataFrame
Columns: [index, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, month, hours, hour]
Index: []

#Limpieza

In [73]:
#Nos quedaremos con los datos que están completos que es el 80%
dff=df.loc[ (~df.started_at.isnull()) & (~df.ended_at.isnull()) & (~df.start_station_name.isnull()) & \
       (~df.start_station_id.isnull()) & (~df.end_station_name.isnull()) & (~df.end_station_id.isnull()) & \
       (~df.start_lat.isnull() ) & (~df.start_lng.isnull()) & (~df.end_lat.isnull()) & (~df.end_lng.isnull()) & (~df.member_casual.isnull()) ]

In [74]:
dff.reset_index(inplace=True)

In [75]:
dff.head(1)

,level_0,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
0,50,50,classic_bike,2021-06-04 07:29:18,2021-06-04 07:45:34,Orleans St & Elm St,TA1306000006,Orleans St & Elm St,TA1306000006,41.902924,-87.637715,41.902924,-87.637715,member,2021-06-04,6,07:29:18,7

In [76]:
dff.drop(['index','level_0'],axis=1)#inplace=True#Lo hace en el df original

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,hours,hour
0,classic_bike,2021-06-04 07:29:18,2021-06-04 07:45:34,Orleans St & Elm St,TA1306000006,Orleans St & Elm St,TA1306000006,41.902924,-87.637715,41.902924,-87.637715,member,2021-06-04,6,07:29:18,7
1,classic_bike,2021-06-23 08:39:36,2021-06-23 08:41:37,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member,2021-06-23,6,08:39:36,8
2,classic_bike,2021-06-27 12:26:58,2021-06-27 12:34:45,Clark St & Grace St,TA1307000127,Clark St & Leland Ave,TA1309000014,41.950780,-87.659172,41.967096,-87.667429,member,2021-06-27,6,12:26:58,12
3,classic_bike,2021-06-01 12:30:24,2021-06-01 12:33:02,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889177,-87.638506,41.888716,-87.644448,member,2021-06-01,6,12:30:24,12
4,classic_bike,2021-06-01 11:32:17,2021-06-01 11:34:43,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member,2021-06-01,6,11:32:17,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930235,electric_bike,2022-07-25 11:21:39,2022-07-25 11:23:28,California Ave & Altgeld St,15646,California Ave & Milwaukee Ave,13084,41.926633,-87.697727,41.922695,-87.697153,member,2022-07-25,7,11:21:39,11
5930236,electric_bike,2022-07-23 12:42:19,2022-07-23 12:49:48,California Ave & Altgeld St,15646,California Ave & Division St,13256,41.926623,-87.697759,41.903029,-87.697474,casual,2022-07-23,7,12:42:19,12
5930237,classic_bike,2022-07-21 07:28:01,2022-07-21 07:31:18,Damen Ave & Grand Ave,TA1308000006,Wood St & Chicago Ave,637,41.892394,-87.676885,41.895634,-87.672069,member,2022-07-21,7,07:28:01,7
5930238,classic_bike,2022-07-10 20:44:11,2022-07-10 20:45:26,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,2022-07-10,7,20:44:11,20
5930239,classic_bike,2022-07-22 17:37:46,2022-07-22 18:02:19,Wood St & Chicago Ave,637,California Ave & Milwaukee Ave,13084,41.895634,-87.672069,41.922695,-87.697153,member,2022-07-22,7,17:37:46,17

In [77]:
!pwd

/content/gdrive/MyDrive/Portafolio_Drive_Analisis_Google/unzip

In [78]:
dff.to_csv('byke_clean.csv')

In [ ]:
pd.read_csv('byke_clean.csv').head(1)